.container {
  padding: 60px 0 60px;
  flex-shrink: 0;
}

.copyright {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 568px) {
  .container {
    padding: 30px 0 36px;
  }

  .copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
