.input {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  margin-bottom: 5px;
  padding: 10px 0 0;
  background-color: inherit;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 14px;
  line-height: 18px;
  outline: none;
}

.input:last-of-type {
  margin-bottom: 0;
}

.errorActive {
  border-bottom-color: red;
}

.errorText {
  color: red;
  font-size: 12px;
  line-height: 18px;
}
