.container {
  margin: 0 auto;
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* minus header and height */
  height: calc(100vh - 280px);
}

.link {
  margin-top: 2rem;
  text-align: center;
  color: gray;
}
