.container {
  padding-top: 45px;
  width: 100%;
  min-height: 75px;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: #545454 solid 1px;
}

.title {
  margin: 0;
  font-size: 2em;
  align-self: flex-start;
}

.title:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}

@media screen and (max-width: 480px) {
  .container {
    min-height: 85px;
  }
  .container::before {
    width: calc(100% + 40px);
  }
}
