.header {
  width: 100%;
  min-height: 120px;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: whitesmoke solid 1px;
}

.logo {
  height: 3em;
  padding: 1.5em;
  filter: grayscale(1);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 85px;
  }
  .header::before {
    width: calc(100% + 40px);
  }
}
