.container {
  padding-top: 25px;
  width: 100%;
  min-height: 100px;
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: #545454 solid 1px;
}

.title {
  margin: 0;
  font-size: 2em;
}

.options {
  display: flex;
  gap: 5px;
  align-items: center;
}

.link {
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1em;
}

.link:hover {
  text-decoration: underline;
}


@media screen and (max-width: 480px) {
  .container {
    min-height: 85px;
  }
  .container::before {
    width: calc(100% + 40px);
  }
}
