.button {
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  border-radius: 2px;
  border: none;
  transition:
    visibility 0s,
    background 0.3s;
  margin-top: 48px;
}

.button:disabled {
  background-color: inherit;
  color: grey;
  border: 1px solid grey;
}

.button:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.button:disabled:hover {
  background-color: inherit;
  cursor: inherit;
}

[data-theme='dark'] .button {
  background: #fff;
  color: #000;
}

[data-theme='dark'] .button:hover {
  background: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 568px) {
  .button {
    font-size: 14px;
    line-height: 17px;
  }
}
